# Morning Lab

## Loading libraries

In [1]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
import numpy as np
import researchpy as rp
import scipy.stats as stats

In [2]:
data = pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')
data.head()

model1 = ols('Etching_rate ~ C(Power)',data=data).fit()
table1 = sm.stats.anova_lm(model1)
print(table1)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

# Lab | Inferential statistics - ANOVA
    Note: The following lab is divided in 2 sections which represent activities 3 and 4.

        Part 1
        In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python.

    Context
    Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power.

    > State the null hypothesis
    > State the alternate hypothesis
    > What is the significance level
    > What are the degrees of freedom of model, error terms, and total DoF
    > Data was collected randomly and provided to you in the table as shown: link to the image - Data

    H0 = There are no significant difference between the mean etching rate for levels of power
    Ha = There are significant difference between the mean etching rate for levels of power
    Significance level = 0.05
    df_model = 2
    df_total = 12
    SSE =

In [3]:
Power_160 = [5.43, 5.71, 6.22, 6.01, 5.59]
Power_180 = [6.24, 6.71, 5.98, 5.66, 6.60]
Power_200 = [8.79, 9.20, 7.90, 8.15, 7.55]

In [4]:
sample_mean1 = np.mean(Power_160)
sample_std1 = np.std(Power_160)
n1 = 5
sample_mean2 = np.mean(Power_180)
sample_std2 = np.std(Power_180)
n2 = 5
sample_mean3 = np.mean(Power_200)
sample_std3 = np.std(Power_200)
n3 = 5

print("The mean of Sample 1:", round(sample_mean1,2))
print("The std of Sample 1:", round(sample_std1,2))
print("The mean of Sample 2:", round(sample_mean2,2))
print("The std of Sample 2:", round(sample_std2, 2))
print("The mean of Sample 2:", round(sample_mean3,2))
print("The std of Sample 2:", round(sample_std3, 2))

The mean of Sample 1: 5.79
The std of Sample 1: 0.29
The mean of Sample 2: 6.24
The std of Sample 2: 0.39
The mean of Sample 2: 8.32
The std of Sample 2: 0.6

### Compute SSE, the error sum of squares

    Here we utilize the property that the treatment sum of squares plus the error sum of squares equals the total sum of squares. Hence,
    
    SSE = SS(Total) âˆ’ SST

In [5]:
Power_160_error = Power_160/sample_mean1
Power_180_error = Power_180/sample_mean2
Power_200_error = Power_200/sample_mean3

Sq_power_160_error = Power_160_error**2
Sq_power_180_error = Power_180_error**2
Sq_power_200_error = Power_200_error**2

SSE_160 = sum(Sq_power_160_error)
SSE_180 = sum(Sq_power_180_error)
SSE_200 = sum(Sq_power_200_error)

SUMSSE = SSE_160 + SSE_180 + SSE_200

SUMSSE

15.057510586332423

    TSS 72209.75	Squares of individual deviations from the total mean
    SST	66870.55	Squares of group means deviations from the total mean weithed by number of membes in each group.
    SSE	5339.20	Squares of individual values from the mean of the corresponding group

    Part 2
    In this section, use the Python to conduct ANOVA.
    What conclusions can you draw from the experiment and why?

In [6]:
data = pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')
data.head()

   Power  Etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [7]:
model1 = ols('Etching_rate ~ C(Power)',data=data).fit()
table1 = sm.stats.anova_lm(model1)
print(table1)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [8]:
# Recoding value from numeric to string
data['Power'].replace({1: '160 W', 2: '180 W', 3: '200 W'}, inplace= True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [9]:
rp.summary_cont(data['Etching_rate'])

       Variable     N    Mean      SD      SE  95% Conf.  Interval
0  Etching_rate  15.0  6.7827  1.2286  0.3172     6.1023    7.4631

In [10]:
rp.summary_cont(data['Etching_rate'].groupby(data['Power']))

       N   Mean      SD      SE  95% Conf.  Interval
Power
160 W  5  5.792  0.3199  0.1431     5.3948    6.1892
180 W  5  6.238  0.4343  0.1942     5.6987    6.7773
200 W  5  8.318  0.6696  0.2995     7.4866    9.1494

In [11]:
stats.f_oneway(data['Etching_rate'][data['Power'] == '200 W'],
               data['Etching_rate'][data['Power'] == '180 W'],
               data['Etching_rate'][data['Power'] == '160 W'])

F_onewayResult(statistic=36.87895470100504, pvalue=7.5065842723589115e-06)